<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks Page</title>
</head>
<body>
    {% extends 'layouts/base1.html' %}
    {% block content %} 
    <h1> Pagina byvagner </h1>

     {% for task in tasks %}
     <div>
        <h1>
            {% if task.done == False %}
                ⏰ {{ task.title }}
            {% else %}
                ✅ {{ task.title }}
            {% endif %}
        </h1>
        {% if task.done == False %}
            <p>Tarea pendiente</p>
        {% else %}
            <p>Tarea realizada</p>
        {% endif %}
        <p>
           {{ task.description }}
        </p>
             <p>identificador = {{ task.project_id }}</p>

        <button>delete</button>
        <button>✅ Done</button>
     </div>
     {% endfor %}


     {% endblock %}
</body>
</html>
