<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Byvagner</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/main.css'>
</head>
<body>
    <nav>
        <ul>       
            {% if request.user.is_authenticated %}    
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'tasks' %}">Tasks</a>
                </li>
                <li>
                    <a href="{% url 'createT' %}">Create Task</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signin' %}">Sign In</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>   
            {% endif %}
        </ul>
    </nav>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>